body {
    display: grid;
    place-content: center;
    height: 100vh;
  }
  
  section {
    display: flex;
    align-items: center;
    width: 400px;
    outline: 2px solid teal;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 0, 1) 0%,
      rgba(0, 188, 212, 1) 50%,
      rgba(238, 130, 238, 1) 100%
    );
    background-size: 50%;
    transition: filter 0.3s;
    overflow: hidden;
  }
  
  section:hover {
    filter: grayscale(50%);
  }
  
  section:hover img {
    transform: scale(1.2);
  }
  
  p {
    width: 50%;
    text-align: center;
  }
  
  .img {
    width: 50%;
    height: 100%;
  }
  
  img {
    display: block;
    transition: transform 1s;
  }